

body{
    background-color: #BBDEFB;
}

.header{
    margin-top: -10px;
    height: 60px;
    background-color: #4C96CA;
    box-shadow: 1px 4px 1px grey;
    position: fixed;
    top: 0px;
    width: 100%;
    margin-left: -8px;
    z-index: 100;
}

.header-bar{
    max-width: 1500px;
    margin: 0 auto;
    color: white;
    
}

.header li{
    width: 30px;
    height: 30px;
    display: block;
    float: right;
    margin-top: 8px;
    margin-right: 40px;
}

.header h1{
    display: block;
    width: 40%;
    float: left;
    margin: 5px;
    margin-left: 20px;
}

.header li:hover{
   box-shadow: 1px 1px 1px 1px grey;
}

.banner{
    width : 100%;
    height: 500px;
    background-image: url(images/cute_funky_baby_hd_widescreen-wide.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 20px;
    margin-left:-20px;
}

.context-container{
    width: 1450px;
    margin: 20px auto;
    background-color:white;
    padding: 20px;
}

.context{
    width: 100%;    
    margin-bottom: 20px;
}

.profile-picture{
    position: relative;
    height: 250px;
    width: 18%;
    top: -280px;
    border-radius: 150px;
    z-index: 0;
}

.detail{
    float: right;
    width: 80%;
    margin-left:100px;  
    font-size:25px;
    margin-top:20px;
}

.detail p{
    text-align: justify;
}

.orphanageName{
    font-size: 40px;
    margin-bottom: -15px;
    margin-top: -15px;
}


