.wishList{
    margin-top: 29px;
    min-height: 513px;
}

.sidebar{
    margin-bottom: 20px;
}

.modal-title{
    font-size: 40px;
}

.MainCategory{
    width: 200px;
}

.btn{
    font-size: 20px;
    float: right;
    margin-top: 30px;
    margin-left: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.reset{
    float: left;
}

.followerPanel img{
    width: 250px;
    height: 250px;
    border-radius: 200px;
}

.table{
    float: right;
    width: 900px;
    font-size: 20px;
    margin-right: 40px;
}

.picture{
    float: left;
    margin-left: 20px;
    font-size: 30px;
}

.FollowerContainer{
    overflow: hidden;
    margin-top: 0px;
    background-color: white;
    margin-left: 50px;
    margin-right: 65px;
    padding-top: 15px;
    margin-bottom: 10px;
    padding-bottom: 15px
}

.followerPanel h1{
    margin-left: 90px;
    border-bottom-style: solid;
    margin-right: 90px;
    margin-bottom: 5px;
}

.Column1{
    min-width:100px;    
}
.Column2{
    min-width:400px;
}
.Column3{
    min-width:300px;
}
.Column4{
    min-width:100px;    
}

.OrphanageName{
    width: 1235px;
    margin: 0 auto;
    margin-left: 50px;
}

.OrphanageName h1{
    margin-top: 50px;
    margin-bottom: -60px;
    background-color: white;
    padding-left: 20px;
    border-bottom-style: solid;
    padding-bottom: 4px;
}

caption{
    font-size: 27px;
}

.header h1{
    color: white;
}

