

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #B3E5FC;
}

.headers{
    margin-top: -10px;
    height: 60px;
    background-color: #4C96CA;
    box-shadow: 1px 4px 1px grey;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

.header-bar{
    max-width: 1500px;
    margin: 0 auto;
    color: white;
    
}

.headers li{
    width: 30px;
    height: 30px;
    display: block;
    float: right;
    margin-top: 8px;
    margin-right: 40px;
}

.headers h1{
    display: block;
    width: 40%;
    float: left;
    margin: 5px;
    margin-left: 20px;
}

.headers li:hover{
   box-shadow: 1px 1px 1px 1px grey;
}

.banners{
    position: relative;
    width : 100%;
    height: 600px;
    background-image: url(images/backgroundHome.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 20px;
    color: white;
}

.context-container{
    width: 1350px;
    margin: 20px auto;
    background-color:#E1F5FE;
    padding: 15px;
}

.context{
    width: 100%;    
    margin-bottom: 20px;
}

.profile-picture{
    height: 250px;
    width: 18%;
    margin-top: 40px;
    border-radius: 150px;
    z-index: 0;
}

.detail{
    float: right;
    width: 80%;
    margin-left:100px;  
    font-size:25px;
    margin-top:20px;
}

.detail p{
    text-align: justify;
}

.orphanageName{
    font-size: 40px;
    margin-bottom: -15px;
    margin-top: -15px;
}



.miniTitleBar{
    width: 1350px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color:#E1F5FE;
    border-radius: 20px;
    text-align: center;
    padding: 1px;
    position: relative;
    top: -50px;
    margin-bottom: -60px;
}



table{
    color: #1A237E;
}

.briefInformation{
    float:right;
    width: 81%;
    margin-top: 40px;
    font-size: 20px;
}

.briefInformation td{
    padding: 2px;
}

.tableHead{
    background-color: #5C6BC0;
    color: white;
}

.firstCate{
    min-width: 200px;
    background-color: #9FA8DA;
}

.secondCate{
    min-width: 375px;
    background-color: #C5CAE9;
}

.thirdCate{
    min-width: 400px;
    background-color: #E8EAF6;
}

.quantity{
    background-color: white;
}

caption{
    text-align: left;
    font-size:40px;
}

tfoot{
    text-align: center;
    background-color: #7986CB;
}

.quantity{
    min-width: 90px;
}

.toWishList{
    color:white;
    text-decoration: none;
}




.adSection{
    width: 1450px;
    margin: 0 auto;
    text-align: center;
    font-size:30px;
    margin-top: 100px;
}

.ad{
    font-size: 2em;
}

.buttonLink{
    background-color: #039BE5;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right:40px;
    font-size:30px;    
    margin:40px;
    color: white;
}

.author{
    font-size: 0.98em;
    margin-bottom: 40px;
}



.footer{
    font-size: 20px;
    width: 100%;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-bar{
    max-width: 1350px;
    margin: 0 auto;
}

.footer-detail div{
    float: left;
    width: 33%;
    max-width: 700px;
    height: 200px;
    text-align: center;
    color: white;
}

.copyRight{
    font-size: 20px;
    text-align: center;
    padding: 30px;
    max-width: 1350px;
    margin: 0 auto;
    background-color: white;
}


.modal{
    font-size: 25px;
    min-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.btn-style{
    font-size: 25px;
    width: 120px;
    margin-top: 30px;
    margin-left: 20px;
    float: right;
    margin-bottom: 90px;
}

.reset{
    float: left;
}

legend{
    font-size: 30px;
}

input{
    margin-bottom: 20px;
}

.buttonLinkInsideModal{
    background-color: #039BE5;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 49%;    
}

footer{
    background-color: #4C96CA;
}

.copyFooter{
    background-color: white;
}

.searchBar{
    width: 1340px;
    margin: 0 auto;
    font-size: 20px;
}

.search{
    margin: 20px auto -9px auto;
    height: 38px;
    text-align: center;
    
}

.searchInput{
    text-align: center;
    width: 90%;
    height: 40px;
}

.selectionPanel{
    width: 500px;
}