
.profile{
    width: 1350px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #E3F2FD;
}

.sidebar{
    width:20%;
    margin-right: 20px;
    margin-top: 80px;
    float: left;
    background-color: white;
    margin-left: 50px;
    padding-bottom: 100px;
}

.sidebar li{
    list-style-type: none;
    margin: 30px 0px 30px 30px;
    font-size: 25px;
}

.profile img{
    width:100%;
    height:250px;
}

#map-canvas{
    margin-top: 60px;
    height: 200px;
}

.profileAndWishList{
    margin-top: 20px;
    margin-bottom: 30px;
    float: left;
    width: 70%;
}

.profileAndWishList table {
    width: 900px;
    margin-top: 60px;
    margin-left:20px;
    font-size: 20px;
}

.tableHead{
    background-color: #5C6BC0;
    color: white;
}

.firstCate{
    width: 10%;
    background-color: #9575CD;
    color: #EDE7F6;
}

.secondCate{
    width: 30%;
    background-color: #B39DDB;
}

.thirdCate{
    width: 30%;
    background-color: #D1C4E9;
}

.quantity{
    width: 5%;
    background-color: #EDE7F6;
}

caption{
    text-align: left;
    font-size:40px;
}

tfoot{
    text-align: center;
    background-color: #7986CB;
    color: white;
}

.quantity{
    min-width: 5%;
}

.toWishList{
    color:white;
    text-decoration: none;
}

.wishList{
    margin-top: -50px;
    padding-bottom: 30px;
    background-color: white;
}

.profilePanel{
    background-color: white;
    padding-bottom: 20px;
    margin-bottom: -50px;
}

caption{
    border-bottom-style: solid;
    margin-bottom: 5px;
}

.fieldName{
    background-color:#81D4FA;
}

.outputName{
    background-color: #E1F5FE;
}

.update{
    float: right;
}

.delete{
    float: right;
}

.button{
    background-color: white;
}

.fb-share-button{
    margin: 20px 0px 0px 20px; 
    width: 200px;
}